.btn.btn-outline-success.my-2.my-sm-0 {

	background-color: #AE1D8A;
	border-color: #AE1D8A;
	color: #fff;
}

.btn.btn-outline-success.my-2.my-sm-0:hover,

.btn.btn-outline-success.my-2.my-sm-0:focus,

.btn.btn-outline-success.my-2.my-sm-0:active,

.btn.btn-outline-success.my-2.my-sm-0:visited{
	background-color: #AE1D8A;
	border-color: #AE1D8A;
	color: #fff;
}
 
.main-body {
	margin-top:100px;
}
